// Font family ***
$font-title: "Space Grotesk", sans-serif;
$font-body: "Inter", sans-serif;

// Colors ***
$color-primary: #215846;
$color-secondary: #101b17;
$color-title: #101b17;
$color-body: #151314b2;
$color-paragraph: #151314b2;
$color-span: #151314b2;
$color-border: #15131433;
$color-gray: #f1f7f4;
$color-black: #000000;
$color-white: #ffffff;

// Transitions ***
$transition: all 0.3s ease-in-out;

// Box shadow ***
$shadow: 0px 4px 25px 0px #0000000f;
